<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="libgazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
    <ros>
      <remapping>odom:=sphere_pose</remapping>
    </ros>
    <frame_name>base_footprint</frame_name>
    <body_name>sphere_link</body_name>
    <update_rate>50</update_rate>
    <gaussian_noise>0.01</gaussian_noise>
    </plugin>
  </gazebo>
</robot>